---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/organisms/Hero.astro';
import ClientsSection from '../components/organisms/ClientsSection.astro';
import StatsSection from '../components/organisms/StatsSection.astro';
import ProjectsSection from '../components/organisms/ProjectsSection.astro';
import TeamSection from '../components/organisms/TeamSection.astro';
---

<Layout title="BIM 3D Studio - Servicios profesionales de modelado BIM">
  <Hero />
  <main>
    <ClientsSection />
    <StatsSection />
    <ProjectsSection />
    <TeamSection />
  </main>
</Layout>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
</html>
