---
import { projectImages } from '../../data/sliderImages';
import Button from '../atoms/Button.astro';
import ImageSlider from './ImageSlider.astro';
---

<section id="inicio" class=" bg-white">

  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-20 lg:py-20">
    <div class="text-center flex flex-col justify-center items-center ">
<h1 class="text-4xl md:text-7xl font-bold mb-6 leading-[1.5] md:leading-[1.2] md:w-10/12 text-primary text-pretty">
    Modelado 3D BIM <br> de Vanguardia
</h1>
      <p class="text-lg md:text-xl  mb-8 text-[#64748b] max-w-4xl mx-auto leading-relaxed text-pretty">
        Desarrollamos soluciones de ingeniería avanzada mediante modelado BIM 3D para proyectos de infraestructura, construcción industrial y obras civiles de gran envergadura
      </p>
    </div>
    
    <section class="pt-2 px-4">
      <div class="container mx-auto">
        <ImageSlider 
        images={projectImages}
        />
      </div>
      <div class="flex flex-col sm:flex-row gap-4 justify-center">
        <Button  variant="primary" size="lg" href="#projects">
          Ver Proyectos
        </Button>
        <Button variant="outline" size="lg" href="#contacto">
          Contactar
        </Button>
      </div>
  </section>
  </div>
</section>